openai.apikey=123xyz
openai.chat.model=gpt-4
openai.chat.model.temp=0.0
openai.embedding.model=text-embedding-ada-002

agency.chat_log_dir=/tmp
agency.text_loader_chunk_size=1024
agency.chat_req_max_tokens=2000
agency.chat_summary_retained_messages_count=10

spring.jpa.hibernate.ddl-auto=create-drop

spring.datasource.url=jdbc:postgresql://10.170.153.11:5433/agency
spring.datasource.username=agency
spring.datasource.password=agency

spring.jpa.properties.hibernate.format_sql=false
spring.jpa.properties.hibernate.show_sql=false

spring.jpa.properties.hibernate.physical_naming_strategy=com.c20g.labs.agency.util.CounterpointDBNamingStrategy
spring.jpa.properties.hibernate.current_session_context_class=org.springframework.orm.hibernate5.SpringSessionContext

logging.level.org.springframework=INFO
logging.level.com.c20g=DEBUG
